<form action="">
    <fieldset class="form-group">
        <legend class="form-group">signup</legend>
        <div class="form-row">
            <div class="col-lg-6 input-group">
                <input type="text" name="" placeholder="First Name" id="" class="form-control">
            </div>
            <div class="col-lg-6 input-group">
                <input type="text" name="" placeholder="Last Name" id="" class="form-control">
            </div>
        </div>
        <div class="form-row mt-md-2">
            <div class="col-lg-5 input-group">
                <input type="email" name="" placeholder="Email" id="" class="form-control">
            </div>
            <div class="col-lg-4 input-group">
                <input type="tel" name="" placeholder="Phone" id="" class="form-control">
            </div>
            <div class="input-group col-md-3">
                <input type="submit" value="submit" class="btn-secondary form-control">
            </div>
        </div>

    </fieldset>
</form>