{{> links}}

<body>
    <div class="col-xlg-12 col-lg-12 col-sm-12 col-12">
        <div class="row">
            <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                <div id="advert-box">
                    <div class="row">
                        <div class="col-xlg-6 col-lg-6">
                            <div id="advert-content-box">
                                <p>
                                    money <i class="fas fa-2x fa-exchange-alt"></i>
                                    food
                                </p>
                                <p>
                                    <i class="fas fa-2x fa-tractor"></i> invest in agro businesses
                                </p>
                                <p>
                                    own a <i class="fas fa-2x fa-seedling"></i> farm
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xlg-6 col-lg-6 col-sm-12 col-12">
                <div id="auth">
                    <div class="row">
                        <div class="col-xlg-12 col-lg-12">
                            <form action="">
                                <fieldset class="form-group">
                                    <legend class="form-group">login</legend>
                                    <div class="input-group col-lg-12">
                                        <input type="text" name="" id="" placeholder="Email or Tel"
                                            class="form-control form-group">
                                        <input type="password" name="" placeholder="Pasword" id=""
                                            class="ml-lg-3 form-control form-group">
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-3"></div>
                                            <div class="col-lg-4">
                                                <div id="">
                                                    <a href="" class="text-secondary">Forgot password</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8 mt-lg-5">
                            <p><i class="fas fa-4x fa-question"></i></p>
                            <p>Dive in to see how,<br>you can make you crop and <br>save you money as food</p>
                            <p class="mt-lg-5">
                                Signup with FoodFarm
                            </p>
                            <a href="" class="col-lg-12 btn btn-lg btn-secondary">Signup</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="text-secondaryher" href="#">base</a>
    </nav>
</body>